@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.benefits{
      font-family: "Roboto", sans-serif;
padding: 110px;
    /* background-color: brown; */

}


.benefit {
  padding: 20px;
  border-radius: 10px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerRow h2{
  font-size: 38px;
}
.view {
  border: none;
  padding: 10px ;
  border-radius: 6px;
  cursor: pointer;
}
p{
  color: gray;
}
@media (max-width:991px) {
  .benefits {
    width: 100%;
    position: relative;
    right: 100px;
  }
  .headerRow h2{
    font-size: 20px;
  }
}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cards .card{
  width:300px ;
  height: 200px;
  background-color: white;
  padding: 20px;
}
.cards .card h2{
  text-align: right;
  font-weight: bold;
  font-size: 40px;
}
.cards .card h3{
  font-size: 15px;
}
@media (max-width:991px){
  .benefits {
    width: 220px;
  }  
  .headerRow{
    width: 250px;
    font-size: 25px;
  }
  .headerRow h2{
    font-size: 30px;
  }
  .benefit p{
    font-size: 15px;
  }
  .cards{
      width: 250px;
    }

  .cards .card{
    width: 260px;
position: relative;
left: 30px;
  }
}